MYSQL_ROOT_PASSWORD=CAMBIAR_por_una_clave_local
SIMPLERISK_DB_PASSWORD=CAMBIAR_por_otra_clave_local
ADMIN_USERNAME=admin_demo
ADMIN_PASSWORD=CAMBIAR_por_una_clave_admin_local
ADMIN_EMAIL=alessandro.faggionato@ejemplo.local
ADMIN_NAME=Alessandro Faggionato
